# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- R
- SQL

### Some of the popular languages that Data Scienctists use are:

1. Python
2. R
3. C++

### Some of the commonly used libraries used by Data Scientists include:

1. Apache Spark
2. Pandas AI
3. TensorFlow

### Data Science Tools

| Data Science Tools |
| --- |
| Apache Spark |
| R Studio |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rubén Fernández Losada